:root {
    --gradient-bg: linear-gradient(90deg, #005440 0%, #00BA8E 100%);
    --fondo-gris : url(../img/FondoGris.webp);

}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.home{
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
}
.navbar, footer {
    width: 100%;
    height: 70px; 
    background: var(--gradient-bg);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
}
.navbar a {
    color: white;
    text-align: center;
    padding: 20px 16px; 
    text-decoration: none;
    margin-left: 10px; 
    margin-right: 10px; 
}
.navbar .icons {
    display: flex;
    gap: 10px; 
}
.navbar .icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px; 
    margin-right: 10px; 
}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    background: var(--fondo-gris);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
    border: 2px solid #00ff99;
    width: 350px;
}
.modal h2 {
    color: white;
    background: var(--gradient-bg);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
}
.modal button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--gradient-bg);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-image: var(--fondo-gris);
    background-repeat: no-repeat;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background: var(--gradient-bg);
    color: #fff;
    text-align: center;
    line-height: 60px; 
}
.creative-commons {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.creative-commons img {
    margin: 0 5px; 
    width: 35px;
    height: 35px;
}

.social-networks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.social-networks img {
    margin: 0 5px; 
    width: 35px;
    height: 35px;
}
.sidebar {
    width: 250px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
    color: white;
    text-align: left;
}

.sidebar a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.sidebar img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.sidebar div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.menu-toggle {
    display: none;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.ludopatia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.image-button {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-image {
    width: 100%;
    height: auto;
    max-height: 80px; 
    z-index: 1;
}

.icon-left, .icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    z-index: 2;
}

.icon-left {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%) translateY(-3px); 
    width: 30px;
    height: auto;
    z-index: 2;
    left: 10%; 
}

.icon-right {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px;
    height: auto;
    z-index: 2;
    right: 10%; 
}


.button-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    white-space: nowrap;
}




@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        left: -250px;
        transition: left 0.3s;
        height: 100vh;
        width: 100%;
    }

    .sidebar.open {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }
}
.partidos-destacados {
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
}

.partidos-destacados .title {
    font-size: xxx-large;
    color: white;
}

.partidos-destacados .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    margin-left: 250px;
}


.partidos-destacados .section-title {
    font-size: large;
    margin-bottom: 20px;
    color: white;
}
.table-header th {
    background-color: #454545; 
    color: #fff; 
    padding: 10px;
    text-align: left;
    vertical-align: middle}
    .match-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: none; 
    color: white;
}

th {
    font-weight: bold;
    color: white;
}

td img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
}

.match-info {
    margin-right: 20px;
}

.odds {
    display: flex;
    flex-direction: column;
}

.green-text{
    color: greenyellow;
}